@font-face {
  font-family: "LoginFont";
  src: url("../fonts/NotoSerifDogra-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MessageFont";
  src: url("../fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.SignInBox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/loginBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  will-change: opacity;
  z-index: -1;
  opacity: 0;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.6);
  background-color: #f5f5f5;
  animation: fadeIn 0.4s ease-in-out forwards; 
}

.login_wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}

.Messages {
  width: 45vw;
  height: 70vh;
  display: flex;
  align-items: center;
  /* margin-bottom: 5%; */
  min-width: 250px;
  max-width: 700px;
}

.BrandingSignInPageWrapper {
  width: 40vw;
  height: 80vh;
  text-align: center;
  padding: 3% 2% 2% 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.message-holder {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  line-height: 1;
  align-items: center;
  text-align: center;
}

.message-holder p {
  font-size: 2.6rem;
  font-family: MessageFont, serif;
  color: black;
  margin: 0;
  padding: 0;
  content-visibility: auto;
}

.css-bfm88r {
  background-color:rgba(255, 255, 255, 0.5) !important ;
  border: none !important;
  box-shadow:
    0px 2px 10px -2px rgba(0, 0, 0, 0.4),
    /* Increased opacity */ 0px 4px 5px 0px rgba(0, 0, 0, 0.28),
    /* Increased opacity */ 0px 1px 10px 0px rgba(0, 0, 0, 0.24) !important; /* Increased opacity */
  width: 26vw;
  height: 70vh;
  justify-content: space-around;
  opacity: 1;
  border-radius: 20px !important;
  min-width: 200px;
  min-height: 450px;
  max-height: 550px;
}

.css-gam7qw-MuiTypography-root {
  color: rgba(0, 0, 0, 0.99) !important;
  font-weight: 500 !important;
}

.css-ay5mhz {
  min-height: 0 !important;
}

.css-12brfqg-MuiTypography-root {
  font-size: 1.2rem !important;
  font-weight: 500;
}

/* .css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root,
.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
  letter-spacing: -0.10em !important;
} */

.css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root,
.css-1mnoz6i-MuiInputBase-root-MuiOutlinedInput-root {
  letter-spacing: -0.05em !important;
}

.css-t27b17-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
  border-radius: 20px !important;
  color: white !important;
  background-color: rgb(15, 14, 14) !important;
}

.css-t27b17-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root:hover{
  background-color: rgba(6, 6, 6, 0.806)!important;
}

.css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root,
.css-1mnoz6i-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 8px !important;
}

@keyframes fadeIn {
  to {
    opacity: 0.7;
  }
}
