.SignIn {
    width: 100%;
    height: 100%;
    background-image: url('../images/loginBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); /*Fallback color */
}