.css-1nxq1zc {
 color: rgb(163 21 21) !important;
}

.css-1wsgyty{
    justify-content: center !important;
}

.css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root{
    color: rgb(0, 0, 0,1) !important;
}
