/* .sidebar-container{
    background-color: #cbcbcb;
} */

.css-1vmkb7f-JoyButton-root{
    border: 1px solid #fbe855;
    background-color:#e2e1e1 ;
    color: black;
    padding: 1%;
    width: 10vw;
}